.img {
  width: 120px;
  height: 70px;
}
.shoppingCart {
  color: white !important;
  position: relative;
  font-size: 30px;
}
.cartCount {
  font-size: 20px;
  position: absolute;
  top: -20px;
  left: 13px;
  font-weight: 600;
  color: #f08804;
}
select {
  background: #343a40;
  color: white;
  border: none;
  margin-right: 15px;
  font-size: 20px;
}
.searchBtn {
  position: absolute;
  right: 0;
  background-color: #F3A847;
  border: 1px solid #F3A847;
}
.searchBtn:hover{
  background-color: #F3A847;
}
.navbar {
  background: #36404b !important;
}